@import url('https://fonts.googleapis.com/css2?family=Anton&family=Babylonica&family=Benne&family=Electrolize&family=Golos+Text:wght@800&family=Inconsolata:wght@900&family=Lato&family=Libre+Franklin:wght@700&family=Montserrat:wght@700&family=Noto+Serif+Ahom&family=Oswald:wght@500;600;700&family=Sassy+Frass&family=Sen:wght@400;700&family=Source+Code+Pro:wght@300&display=swap');


* {
    padding: 0;
    margin: 0;
}


.basefont {
    font-family: 'Oswald';
}

header {
    padding: 20px;
    background-color: rgb(19, 19, 19);
    border: 1px solid black;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    height: 10%;
}

header .title {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    color: orangered;
    flex-basis: 15%;

}

header nav {
    margin: 20px;
    display: flex;
    position: relative;
    flex-basis: 45%;

}

header ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 1.5em;
}

header li {
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header i {
    font-size: 1em;
    color: white;
    margin-right: 7px;
}

header a {
    text-decoration: none;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
    font-weight: normal;
}

header input {
    border: 0px solid transparent;
    color: gray;
    background-color: transparent;
    outline: none;
    width: 100px;
    margin-right: 5px;
    font-size: 1em;
}

header .operation {

    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button1,
.button2 {
    background-color: red;
    color: rgb(19, 19, 19);
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 10px;
    transition: 0.5s;
    margin-right: 5px;
}

.button2 {
    color: red !important;
    background-color: transparent;
    border: white 1px solid;
}

.button1:hover,
.button2:hover {
    background-color: white;
    transition: 0.5s;
    cursor: pointer;
}


/* Main Start */

main {
    display: flex;
    margin-top: 115px;
    padding: 10px;
    background-color: rgb(12, 12, 12);
    position: relative;
    height: 90%;

}


.categories {
    flex-basis: 20%;
    padding: 10px;
}

.ctg_sub {
    border: gray 2px solid;
    border-radius: 7px;
    overflow-y: auto;
    height: 550px;
    margin: 20px 0px 0px 30px;
    background-color: rgb(31, 30, 30);

}

.ctg_sub ul {
    list-style: none;
    overflow-y: auto;
    font-size: 1.2em;
    font-weight: bold;
}

.ctg_sub li {
    color: gray;
    padding: 10px;
}

.ctg_sub li:hover {
    cursor: pointer;
    color: white;
    background-color: black;
    transition: 0.5s;
}


.movies {
    flex-basis: 75%;
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgb(12, 12, 12);
}

.movies .ctg {
    color: white;
    font-size: 4em;
    font-weight: bold;
    flex-basis: 5%;

}


.movies .container {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: auto;
    height: 500px;

}

.movie {
    border-radius: 10px;
    width: 230px;
    height: 300px;
    margin: 5px;

}

.movie:hover {
    border: 5px solid orangered;
    cursor: pointer;

}


.msg {
    color: gray;
    font-size: 1.2em;
}


.rel
{
    position: relative;
}

.rel i
{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size:2em;
    color: magenta;
}

.rel i:hover
{
    cursor: pointer;
}



/* Main End */


/* Define the style for the scrollbar */
.container::-webkit-scrollbar,
.ctg_sub::-webkit-scrollbar {
    width: 15px;
    background-color: #f5f5f5;
    border-radius: 10px;
}

/* Define the style for the thumb */
.container::-webkit-scrollbar-thumb,
.ctg_sub::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 5px;
}

/* Define the style for the thumb when it's being hovered */
.container,
.ctg_sub::-webkit-scrollbar-thumb:hover {
    background-color: #7a7a7a;
    cursor: pointer;
}


@media only screen and (max-width: 768px) {


    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }


    .button1,
    .button2 {
        padding: 5px 5px;
    }


    header .operation {
        position: relative;
    }

    header ul {
        font-size: 1em;
    }
}